body {
  margin: 0;
  padding: 0;
  background-color: hsla(0, 0%, 0%, 0.021);
}

/* for Card.tsx */
.card {
  max-width: 200px;
  background: white;
  padding: 10px;
  margin: 10px;
  text-align: center;
  display: inline-block;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.cardImg {
  max-width: 50%;
}

/* for List.tsx */
.list-container {
  text-align: center;
  margin-top: 30px;
}

.list-container ul {
  list-style: none;
  padding: 0;
}

.catagory {
  margin: 0 auto;
  color: white;
  background-color: hsla(271, 71%, 59%, 0.55);
  box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.197);
  border-radius: 20px;
  padding: 15px;
  max-width: 250px;
}

/* for Click.tsx */
.click-cat {
  width: 100px;
  cursor: pointer;
}

.counter {
  margin: 20px 30px;
  width: 230px;
  padding: 10px 20px;
  background-color: hsla(195, 73%, 70%, 0.438);
  border-radius: 15px;
  text-align: center;
}
.counter div {
  font-size: 2rem;
  margin-bottom: 5px;
}
.counter button {
  font-size: 16px;
  padding: 5px;
  margin: 0 2px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.155);
}