body {
  margin: 0;
  padding: 0;
  background-color: hsla(0, 0%, 0%, 0.021);
}

/* for Card.tsx */
.card {
  max-width: 200px;
  background: white;
  padding: 10px;
  margin: 10px;
  text-align: center;
  display: inline-block;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.cardImg {
  max-width: 50%;
}

/* for List.tsx */
.list-container {
  text-align: center;
  margin-top: 30px;
}

.list-container ul {
  list-style: none;
  padding: 0;
}

.catagory {
  margin: 0 auto;
  color: white;
  background-color: hsla(271, 71%, 59%, 0.55);
  box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.197);
  border-radius: 20px;
  padding: 15px;
  max-width: 250px;
}

/* for Click.tsx */
.click-cat img{
  width: 100px;
  cursor: pointer;
  display: inline;
}
.click-cat p {
  display: inline;
  margin-left: 10px;
}

.counter {
  margin: 20px 30px;
  width: 230px;
  padding: 10px 20px;
  background-color: hsla(195, 73%, 70%, 0.438);
  border-radius: 15px;
  text-align: center;
}
.counter div {
  font-size: 2rem;
  margin-bottom: 5px;
}
.counter button {
  font-size: 16px;
  padding: 5px;
  margin: 0 2px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.155);
}

/* for Onchange.tsx */
.onchange-container{
    display: flex;
    gap: 40px;
    max-width: 800px;
    margin: 40px auto;
}

.fill-in-form,
.comformation-form{
    flex: 1;
    padding: 20px;
    background: #ffffff;
    border: 1px solid #e2e2e2;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.06);
}

.fill-in-form div{
    margin-bottom: 14px;
}

label{
    font-size: 14px;
    display: block;
    margin-bottom: 4px;
}

.onchange-container input[type="text"],
.onchange-container input[type="number"],
textarea,
select{
    width: 90%;
    padding: 6px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea{
    resize: vertical;
    min-height: 60px;
}

.radio-group{
    margin-top: 10px;
}

.radio-group label{
    display: flex;
    align-items: center;
    gap: 5px;
}

/* for toBuyList */
.to-buy-list-container {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px 30px;
  border-radius: 10px;
  font-family: sans-serif;
  border: 1px solid hsla(0, 0%, 0%, 0.141);
  box-shadow: 0 4px 10px rgba(0,0,0,0.06);
}

.input-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}

.input-section input {
  padding: 6px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid hsla(0, 0%, 0%, 0.526);
}
.shopping-list li input[type="checkbox"] {
  cursor: pointer;
}

.input-section button {
  padding: 8px;
  cursor: pointer;
  border-radius: 5px;
  background-color: hsla(120, 61%, 37%, 0.745);
  border: 1px solid hsla(0, 0%, 0%, 0.526);
  transition: background-color 0.25s ease;
  color: white;
}
.input-section button:hover {
  background-color: hsla(120, 70%, 29%, 0.745);
}

.shopping-list {
  list-style: none;
  padding: 0;
}

.shopping-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px 0;
  border-bottom: 1px solid #ddd;
}

.product-name {
  flex: 1;
}

.price {
  font-weight: bold;
}

.totalAmount {
  text-align: right;
  font-weight: bold;
}

/* for digital clock */
.digital-clock {
  background-color: #8B9A5B;
  font-weight: bold;
  width: 250px;
  font-family: monospace;
  padding: 30px;
  border-radius: 20px;
  border: 20px solid hsla(215, 90%, 65%, 0.744);
  font-size: 2.5rem;
  text-align: center;
}

/* for stop watch */
.stop-watch {
  margin: 30px 0;
  border: 3px solid hsla(220, 93%, 65%, 0.485);
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.164);
  width: 300px;
  border-radius: 10px;
  text-align: center;
}
.stop-watch .display {
  font-size: 2.5rem;
  font-family: monospace;
  margin-bottom: 10px;
  font-weight: 400;
}
.stop-watch .stop-watch-btn button {
  font-size: 1.3rem;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 3px 0x rgba(0, 0, 0, 0.197);
  cursor: pointer;
  transition: all 0.05s ease;
}
.stop-watch .stop-watch-btn button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 0x rgba(0, 0, 0, 0.197);
}
.stop-watch .stop-watch-btn button:active {
  transform: translateY(1px);
  box-shadow: 0 2px 0x rgba(0, 0, 0, 0.197);
}
.stop-watch .stop-watch-btn .startBtn {
  background-color: hsla(120, 83%, 60%, 0.667);
}
.stop-watch .stop-watch-btn .stopBtn {
  background-color: hsla(0, 83%, 62%, 0.667);
}
.stop-watch .stop-watch-btn .resetBtn {
  background-color: hsla(280, 83%, 62%, 0.667);
}